__pycache__/
*.pyc
*.pyo
.venv/
.env
*.egg-info/

# Data and Artifacts (Generating via pipeline)
data/
models/*.pth
*.csv
*.parquet

# Debug and Preview images
*.png
!docs/*.png # Allow images in a docs folder if needed for README

# IDE / OS
.idea/
.vscode/
.DS_Store

# Caches
.pytest_cache/
.mypy_cache/
.coverage
.ruff_cache/
